/* ------------------------------------------------------ */

/* X 001 LAPTOP
/*------------------------------------------------------ */

/* ---------- GENERAL ---------- */

.x_001_laptop_main_wrap {
  padding: 0;
  background-image: url("../../assets/img/pad.png");
}

.x_001_laptop_main_wrap > .row {
  margin: 0;
}

.x_001_laptop_main_wrap > .row > div:nth-child(1) {
  padding: 50px;
}

.x_001_laptop_main_wrap > .row > div:nth-child(2) {
  padding: 100px 70px 100px 15px;
}

/* ---------- TEXT SIDE ---------- */

.x_001_laptop_main_wrap > .row > div > h1, .x_001_laptop_main_wrap > .row > div > p, .x_001_laptop_main_wrap > .row > div > a {
  text-shadow: none;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.x_001_laptop_main_wrap > .row > div > h1 {
  color: #f1f1f1;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.x_001_laptop_main_wrap > .row > div > p {
  color: #d3d3d3;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: justify;
  margin-bottom: 50px;
}

.x_001_laptop_main_wrap > .row > div > a {
  color: #989898;
  font-size: 12px;
  font-weight: 400;
  padding: 12px 30px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #cacaca;
  -webkit-transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
  transition: all 0.6s cubic-bezier(0.22,0.81,0.01,0.99);
}

.x_001_laptop_main_wrap > .row > div > a:hover {
  color: #ffffff;
  background: #ff5a0e;
  border: 1px solid #ff5a0e;
}

/* ---------- LAPTOP ---------- */

.x_001_laptop_inner_wrap {
  width: 100%;
  position: relative;
}

.x_001_laptop_inner_wrap > img {
  width: 100%;
  margin: auto;
  display: block;
  position: relative;
}

/* ---------- SLIDER ---------- */



/* ---------- INDICATORS CONTROL ---------- */


/* ---------- LEFT/RIGHT CONTROL ---------- */



/* ------------------------------------------------------ */

/* RESPONSIVE
/*------------------------------------------------------ */

/* ---------- MEDIA 480px ---------- */

@media only screen and (max-width: 480px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(1) {
    padding: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(2) {
    padding: 0 20px 30px 20px;
  }
}

/* ---------- TEXT SIDE ---------- */

@media only screen and (max-width: 480px) {
  .x_001_laptop_main_wrap > .row > div > h1 {
    font-size: 25px;
  }
}

/* ---------- MEDIA 481px - 767px ---------- */

@media (min-width: 481px) and (max-width: 767px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(1) {
    padding: 15px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(2) {
    padding: 0 20px 30px 20px;
  }
}

/* ---------- MEDIA 768px - 991px ---------- */

@media (min-width: 768px) and (max-width: 991px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(1) {
    padding: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(2) {
    padding: 0 30px 30px 30px;
  }
}

/* ---------- MEDIA 992px - 1225px ---------- */

@media (min-width: 992px) and (max-width: 1225px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(1) {
    padding: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1225px) {
  .x_001_laptop_main_wrap > .row > div:nth-child(2) {
    padding: 25px;
  }
}

/* -------------------------------------------- */

/* SLIDING TIMING FUNCTIONS
/*-------------------------------------------- */


